<div>
    <form id="cadastro-membro" [formGroup]="formMembroFamilia">
        <h1 class="mat-title-1"><b>Informe os dados do membro {{familyMemberTypeDescription}}</b></h1>
        <section id="membro-principal" *ngIf="Model.familyMemberType === familyMemberType.Main">
            <mat-form-field id='nome-completo' class="w-100">
                <mat-label>Nome Completo</mat-label>
                <input type="text" matInput formControlName="fullName" placeholder="Ex. João da Silva">
                <mat-error *ngIf="formMembroFamilia.controls['fullName'].hasError('required')">
                    Nome completo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field id="email" class="w-100">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="contactEmail" placeholder="Ex. seuemail@dominio.com">
                <mat-error *ngIf="formMembroFamilia.controls['contactEmail'].hasError('email')">
                    O email precisa ter um <strong>formato válido</strong>
                </mat-error>
            </mat-form-field>
            <div id="cpf-schooling" class="d-flex justify-content-around">
                <mat-form-field id="cpf" class="w-50">
                    <mat-label>CPF</mat-label>
                    <input type="text" matInput formControlName="documentId" placeholder="Ex. 000.000.000-00">
                    <mat-error *ngIf="formMembroFamilia.controls['documentId'].hasError('required')">
                        O cpf é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field id="schooling" class="w-50">
                    <mat-label>Escolaridade</mat-label>
                    <mat-select formControlName="schooling">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of schoolingOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['schooling'].hasError('required')">
                        Por favor, selecione a esclaridade.
                    </mat-error>
                </mat-form-field>
            </div>
            <div id="renda-occupation" class="d-flex justify-content-around">
                <mat-form-field id="rendaTotalFamilia" class="w-50">
                    <mat-label>Renda total da família</mat-label>
                    <input type="number" matInput formControlName="economicSituationNotes" placeholder="Ex. 500,00">
                    <mat-error *ngIf="formMembroFamilia.controls['economicSituationNotes'].hasError('required')">
                        A renda da família é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Profissão</mat-label>
                    <input type="text" matInput formControlName="occupation" placeholder="Ex. Marceneiro">
                    <mat-error *ngIf="formMembroFamilia.controls['occupation'].hasError('required')">
                        A profissão é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div id="cep-numero-edereco" class="d-flex justify-content-around">
                <mat-form-field id="addressPostalCode" class="w-50">
                    <mat-label>CEP</mat-label>
                    <input type="number" matInput formControlName="addressPostalCode" placeholder="Ex. 00.000-000">
                    <mat-error *ngIf="formMembroFamilia.controls['addressPostalCode'].hasError('required')">
                        O CEP é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Número Endereço</mat-label>
                    <input type="text" matInput formControlName="addressStreetNumber" placeholder="Ex. 67">
                    <mat-error *ngIf="formMembroFamilia.controls['addressStreetNumber'].hasError('required')">
                        O número do endereço é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field id="addressStreetName" class="w-100">
                <mat-label>Endereço</mat-label>
                <input type="text" matInput formControlName="addressStreetName" placeholder="Ex. R. Adamantina">
                <mat-error *ngIf="formMembroFamilia.controls['addressStreetName'].hasError('required')">
                    O endereço é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <div id="Complemento-HousingType">
                <mat-form-field id="complemento-endereco" class="w-50">
                    <mat-label>Complemento endereço</mat-label>
                    <input type="text" matInput formControlName="addressStreetComplement"
                        placeholder="Ex. R. Adamantina">
                    <mat-error *ngIf="formMembroFamilia.controls['addressStreetComplement'].hasError('required')">
                        O complemento do endereço é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Tipo de Moradia</mat-label>
                    <mat-select formControlName="housingType">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of housingOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['housingType'].hasError('required')">
                        Por favor, selecione o tipo de moradia.
                    </mat-error>
                </mat-form-field>
            </div>
            <div id="Cidade-UF" class="d-flex justify-content-around">
                <mat-form-field id="addressCity" class="w-50">
                    <mat-label>Cidade</mat-label>
                    <input type="text" matInput formControlName="addressCity" placeholder="Ex. São Paulo">
                    <mat-error *ngIf="formMembroFamilia.controls['addressCity'].hasError('required')">
                        O CEP é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>UF</mat-label>
                    <mat-select formControlName="addressState">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of ufOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['addressState'].hasError('required')">
                        Por favor, selecione o estado.
                    </mat-error>
                </mat-form-field>
            </div>
            <div id='estado-civil-genero' class="d-flex">
                <mat-form-field id="estado-civil" class="w-50">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="civilStatus">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of civilStatusOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['civilStatus'].hasError('required')">
                        Por favor, selecione um estado civil
                    </mat-error>
                </mat-form-field>
                <mat-form-field id="gender" class="w-50">
                    <mat-label>Gênero</mat-label>
                    <mat-select matNativeControl formControlName="gender">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of generoOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['gender'].hasError('required')">
                        Por favor, selecione um gênero
                    </mat-error>
                </mat-form-field>
            </div>
            <div id="data-nascimento-telefone-celular" class="d-flex">
                <mat-form-field id="data-nascimento" class="w-50">
                    <mat-label>Data de nascimento</mat-label>
                    <input type="date" matInput formControlName="birthDate" placeholder="Ex. 29/12/2000">
                </mat-form-field>
                <mat-form-field id="telefone-celular" class="w-50">
                    <mat-label>Telefone/Celular</mat-label>
                    <input type="tel" matInput formControlName="contactPhoneNumber" placeholder="Ex. 99999-9999">
                </mat-form-field>
            </div>
        </section>
        <section id="membro-principal" *ngIf="Model.familyMemberType === familyMemberType.Dependent">
            <mat-form-field id="linkTypeToMainMember" class="w-100">
                <mat-label>Parentesco</mat-label>
                <mat-select matNativeControl formControlName="linkTypeToMainMember">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let e of familyLinkTypeOptions | keyvalue" [value]="e.value">
                        {{e.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formMembroFamilia.controls['gender'].hasError('required')">
                    Por favor, selecione um tipo de parentesco
                </mat-error>
            </mat-form-field>
            <mat-form-field id='nome-completo' class="w-100">
                <mat-label>Nome Completo</mat-label>
                <input type="text" matInput formControlName="fullName" placeholder="Ex. João da Silva">
                <mat-error *ngIf="formMembroFamilia.controls['fullName'].hasError('required')">
                    Nome completo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <div id="data-nascimento" class="d-flex">
                <mat-form-field id="data-nascimento" class="w-50">
                    <mat-label>Data de nascimento</mat-label>
                    <input type="date" matInput formControlName="birthDate" placeholder="Ex. 29/12/2000">
                </mat-form-field>
                <mat-form-field id="gender" class="w-50">
                    <mat-label>Gênero</mat-label>
                    <mat-select matNativeControl formControlName="gender">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let e of generoOptions | keyvalue" [value]="e.value">
                            {{e.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formMembroFamilia.controls['gender'].hasError('required')">
                        Por favor, selecione um gênero
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-100">
                <mat-form-field class="w-50">
                    <mat-label>Profissão</mat-label>
                    <input type="text" matInput formControlName="occupation" placeholder="Ex. Marceneiro">
                    <mat-error *ngIf="formMembroFamilia.controls['occupation'].hasError('required')">
                        A profissão é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field id="cpf" class="w-50">
                    <mat-label>CPF</mat-label>
                    <input type="text" matInput formControlName="documentId" placeholder="Ex. 000.000.000-00">
                    <mat-error *ngIf="formMembroFamilia.controls['documentId'].hasError('required')">
                        O cpf é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </section>
        <div>
            <h1 class="mat-title-1 m-0">Adicionar membro da família</h1>
            <button (click)="adicionarMembro_click()" mat-mini-fab class="mt-n3" color="primary"><span
                    class="mat-title-1">+</span></button>
        </div>
    </form>
</div>