<div class="family-search-container m-auto">
    <div id="conteudo">
        <app-nav-bar></app-nav-bar>
        <h1 class="mat-display mb-2"><strong>Busca de assistidos</strong></h1>
        <div class="w-100">
            <mat-form-field appearance="outline" class="w-80 pr-3 pl-3">
                <mat-label>Busque pelo nome</mat-label>
                <input type="text" matInput [ngModel]='searchingName' (ngModelChange)='nameSearchChanged.next($event)'
                    placeholder="">
            </mat-form-field>
        </div>
        <cdk-virtual-scroll-viewport #viewPort itemSize="10" [ngStyle]="{'height': getViewReportHeight()}">
            <div *cdkVirtualFor="let family of dataSource">
                <div *ngIf="family != null">
                    <app-family-search-resume [fullName]="family.fullName" [documentId]="family.documentId"
                        [status]="familyStatusHelper.getFamilyStatus(family.generalStatus)">
                    </app-family-search-resume>
                    <button mat-raised-button
                        class="mt-2 ml-4 mb-2 pt-1 pb-1" id="btn-familia-completa"
                        (click)="detailsClick(family.generalStatus, family.id)" type="submit" mat-flat-button color="primary">
                        Ver detalhes
                    </button>
                    <hr />
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>