<div class="family-search-container m-auto">
    <div id="conteudo">
        <app-nav-bar></app-nav-bar>
        <h1 class="mat-title-1"><strong>Busca de assistidos</strong></h1>
        <cdk-virtual-scroll-viewport itemSize="10" style="height: 800px;">
            <div *cdkVirtualFor="let family of dataSource">
                <app-family-search-resume *ngIf="family != undefined" [fullName]="family.fullName" [documentId]="family.documentId" 
                [status]="getFamilyStatus(family?.generalStatus)" >
                </app-family-search-resume>
                <button *ngIf="family.generalStatus == 'Active' || family.generalStatus == 'PendingApproval'" 
                class="mt-2 mb-2" id="btn-familia-completa" type="submit" mat-flat-button color="primary">
                    Ver detalhes
                </button>
                <hr/>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>