<div class="cadastro-familia-container m-auto">
    <div id="conteudo">
        <app-nav-bar></app-nav-bar>
        <div *ngFor="let familyMember of membros" class="">
            <app-family-member-resume [model]="familyMember" (familyMemberClick)="editMember($event)" ></app-family-member-resume>
        </div>
        <div>
            <app-membro-familia [Model]="activeEditingMember" (saveMember)="incluirMembro($event)"></app-membro-familia>
        </div>
        <div class="mt-3">
            <button mat-flat-button (click)="saveFamily()" color="primary">Família completa</button>
        </div>

    </div>
</div>