<div class="platform-stats-container m-auto">
    <div id="conteudo">
        <app-nav-bar></app-nav-bar>
        <h1 class="mat-display mb-2"><strong>Estatísticas</strong></h1>
    </div>

    <app-platform-stats-attendances [statsType]="'Attendance'" [title]="'Atendimentos'"></app-platform-stats-attendances>
    <app-platform-stats-families></app-platform-stats-families>
    <app-platform-stats-attendances [statsType]="'Promotions'" [title]="'Promoções'"></app-platform-stats-attendances>
</div>