<div class="family-member-resume-container w-100 p-1">
    <div class="d-flex">
        <div class="w-20 d-flex align-center justify-content-center">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="w-80 d-flex">
            <div class="w-80 text-left">
                <h3 class="mat-title-1 mb-0"><b>{{fullName}}</b></h3>
                <div class="color-purple-light">CPF {{documentId}}</div>
                <div class="status p-1 color-purple-light text-center" [ngStyle]="getStatusCollor(status)" >{{status}}</div>
            </div>
        </div>
    </div>
    
</div>