.family-action-plan-container {
    padding: 10px;
    max-width: 400px;
}

.lista-acoes{
    margin-top: -10px;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
}

.task-footer{
    font-size: 12px;
    margin-top: -5px;
    color: gray;
}