<div class="family-action-plan-container m-auto">
    <div id="conteudo" *ngIf="mainFamilyMember">
        <app-nav-bar></app-nav-bar>
        <h1 class="mat-display mb-2"><strong>Plano de ação</strong></h1>
        <div class="text-left color-purple-light pl-1 mb-2">
            <div>Cadastrado em: <strong>{{mainFamilyMember.systemRegistrationDate | date: 'dd/MM/yyyy'}}</strong></div>
            <div>Válido até: <strong>{{mainFamilyMember.assistenceDueDate | date: 'dd/MM/yyyy'}}</strong></div>
        </div>
        <div>
            <app-family-member-resume [model]="mainFamilyMember"></app-family-member-resume>
        </div>
        <section id="assistente-itens">
            <h3 class="mt-2 mb-0"><strong>Ações do assistente</strong></h3>
            <div class="d-flex justify-content-start">
                <mat-form-field appearance="outline" class="w-100">
                    <input [(ngModel)]="taskAssistenteDescription" maxlength="100" matInput />
                    <button (click)="openDialog(true)" [disabled]="taskAssistenteDescription.length < 3" mat-icon-button
                        matSuffix color="primary" aria-label="Adicionar">
                        <mat-icon style="font-size: 20px;">add</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="lista-acoes">
                <div *ngFor="let item of ActionPlanTaskAssistente">
                    <mat-checkbox class="w-100" [checked]="item.done.toString() === 'Yes'" [color]="'primary'">
                        {{item.description}}
                    </mat-checkbox>
                    <div class="text-right font-italic pr-2" *ngIf="item.dueDate">
                        Até: {{item.dueDate | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </section>
        <section id="assistido-itens">
            <h3 class="mt-2 mb-0"><strong>Ações do assistido</strong></h3>
            <div class="d-flex justify-content-start">
                <mat-form-field appearance="outline" class="w-100">
                    <input [(ngModel)]="taskAssistidoDescription" maxlength="100" matInput />
                    <button (click)="openDialog(false)" [disabled]="taskAssistidoDescription.length < 3" mat-icon-button
                        matSuffix color="primary" aria-label="Adicionar">
                        <mat-icon style="font-size: 20px;">add</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="lista-acoes">
                <div *ngFor="let item of ActionPlanTaskAssistido">
                    <mat-label>
                        {{item.description}}
                    </mat-label>
                </div>
            </div>
        </section>
    </div>
</div>