/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Red Hat Display", Roboto, "Helvetica Neue", sans-serif; }

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.w-100{
    padding: 0 5px;
    width: 100%;
}

.w-80{
    padding: 0 5px;
    width: 80%;
}

.w-50{
    padding: 0 5px;
    width: 50%;
}

.w-25 {
    padding: 0 5px;
    width: 25%;
}

.w-20{
    padding: 0 5px;
    width: 20%;
}

.m-0 {
    margin:0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mt-1{
    margin-top: 0.25rem;
}

.mt-2{
    margin-top: 0.75rem;
}

.mt-3{
    margin-top: 1rem;
}

.mt-4{
    margin-top: 3rem;
}

.mt-n1{
    margin-top: -0.25rem;
}

.mt-n2{
    margin-top: -0.75rem;
}

.mt-n3{
    margin-top: -1rem;
}

.mt-n4{
    margin-top: -3rem;
}