/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Red Hat Display", Roboto, "Helvetica Neue", sans-serif; }

$firstRem: 0.25rem;
$secondRem: 0.75rem;
$tirdhRem: 1rem;
$forthRem: 3rem;

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.w-100{
    padding: 0 5px;
    width: calc(100% - 10px);
}

.w-80{
    padding: 0 5px;
    width: calc(80% - 10px);
}

.w-50{
    padding: 0 5px;
    width: calc(50% - 10px);
}

.w-25 {
    padding: 0 5px;
    width: calc(25% - 10px);
}

.w-20{
    padding: 0 5px;
    width: calc(20% - 10px);
}


.p-1{
    padding: $firstRem;
}

.p-2{
    padding: $secondRem;
}

.p-3{
    padding: $tirdhRem;
}

.p-4{
    padding: $forthRem;
}


.m-auto{
    margin: 0 auto;
}

.m-0 {
    margin:0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mt-1{
    margin-top: $firstRem;
}

.mt-2{
    margin-top: $secondRem;
}

.mt-3{
    margin-top: $tirdhRem;
}

.mt-4{
    margin-top: $forthRem;
}

.mt-n1{
    margin-top: -$firstRem;
}

.mt-n2{
    margin-top: -$secondRem;
}

.mt-n3{
    margin-top: -$tirdhRem;
}

.mt-n4{
    margin-top: -$forthRem;
}


.mb-0{
    margin-bottom: 0px !important;
}

.mb-1{
    margin-bottom: $firstRem;
}

.mb-2{
    margin-bottom: $secondRem;
}

.mb-3{
    margin-bottom: $tirdhRem;
}

.mb-4{
    margin-bottom: $forthRem;
}

.rotate-90{
    transform: rotate(90deg);
}

.rotate-180{
    transform: rotate(180deg);
}