/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Red Hat Display", Roboto, "Helvetica Neue", sans-serif; }

$borderSolidGray: solid 1.5px rgb(155, 134, 134);
$inputBorderRadius: 10px;
$firstRem: 0.25rem;
$secondRem: 0.75rem;
$tirdhRem: 1rem;
$forthRem: 3rem;
$color-purple-light: #99879D;

.family-status{
    padding: 3px;
    height: 20px;
    border-radius: 10px;
    text-align: right;
}

.account-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
}

.color-purple-light{
    color: $color-purple-light;
}

.bg-purple-light{
    background-color: $color-purple-light;
}

.bg-purple{
    color: white;
    background-color: #9378FF;
}

.bg-stripped >:nth-child(odd){
    background-color: #f0dff3;
}

.bg-stripped >:nth-child(even){
    background-color: #f6cfff;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.font-italic{
    font-style: italic;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.w-100{
    padding: 0 5px;
    width: calc(100% - 10px);
}

.w-80{
    padding: 0 5px;
    width: calc(80% - 10px);
}


.w-70{
    padding: 0 5px;
    width: calc(70% - 10px);
}

.w-50{
    padding: 0 5px;
    width: calc(50% - 10px);
}

.w-25 {
    padding: 0 5px;
    width: calc(25% - 10px);
}

.w-20{
    padding: 0 5px;
    width: calc(20% - 10px);
}

.w-10{
    padding: 0 5px;
    width: calc(10% - 10px);
}


.p-1{
    padding: $firstRem;
}

.p-2{
    padding: $secondRem;
}

.p-3{
    padding: $tirdhRem;
}

.p-4{
    padding: $forthRem;
}

.pt-1{
    padding-top: $firstRem !important;
}

.pt-2{
    padding-top: $secondRem !important;
}

.pt-3{
    padding-top: $tirdhRem !important;
}

.pt-4{
    padding-top: $forthRem !important;
}

.pb-1{
    padding-bottom: $firstRem !important;
}

.pb-2{
    padding-bottom: $secondRem !important;
}

.pb-3{
    padding-bottom: $tirdhRem !important;
}

.pb-4{
    padding-bottom: $forthRem !important;
}

.pl-1{
    padding-left: $firstRem !important;
}

.pl-2{
    padding-left: $secondRem !important;
}

.pl-3{
    padding-left: $tirdhRem !important;
}

.pl-4{
    padding-left: $forthRem !important;
}

.pr-1{
    padding-right: $firstRem !important;
}

.pr-2{
    padding-right: $secondRem !important;
}

.pr-3{
    padding-right: $tirdhRem !important;
}

.pr-4{
    padding-right: $forthRem !important;
}

.m-auto{
    margin: 0 auto;
}

.m-0 {
    margin:0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mt-1{
    margin-top: $firstRem;
}

.mt-2{
    margin-top: $secondRem !important;
}

.mt-3{
    margin-top: $tirdhRem !important;
}

.mt-4{
    margin-top: $forthRem;
}

.mt-n1{
    margin-top: -$firstRem;
}

.mt-n2{
    margin-top: -$secondRem;
}

.mt-n3{
    margin-top: -$tirdhRem;
}

.mt-n4{
    margin-top: -$forthRem;
}


.mb-0{
    margin-bottom: 0px !important;
}

.mb-1{
    margin-bottom: $firstRem;
}

.mb-2{
    margin-bottom: $secondRem !important;
}

.mb-3{
    margin-bottom: $tirdhRem;
}

.mb-4{
    margin-bottom: $forthRem;
}


.ml-0{
    margin-left: 0px !important;
}

.ml-1{
    margin-left: $firstRem !important;
}

.ml-2{
    margin-left: $secondRem !important;
}

.ml-3{
    margin-left: $tirdhRem !important;
}

.ml-4{
    margin-left: $forthRem !important;
}

.rotate-90{
    transform: rotate(90deg);
}

.rotate-180{
    transform: rotate(180deg);
}

.border-top{
    border-top: solid 0.5px #99879D;
}