.container{
    background: #FAF9FE;
    text-align: center;
    max-width: 400px;
    height: 600px;
    margin: auto;
}

a{
    color: gray;
    text-decoration: none;
}

.header{
    margin-top: 50px;
}

.header h1{
    margin-bottom: 0px !important;
    font-weight: 500;
    font-size: 96px;
}
.header h3{
    color: #99879D;
    font-size: 20px;
}

.content button{
    margin: 40px auto;
    display: block;
    width: 200px;
}

